header {
    background-color: #333; 
    color: white; 
    padding: 10px 20px; 
    text-align: center;
}

body, form {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: auto;
    border: 4px #000;
    border-radius: 6px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: rgb(252, 252, 252);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
              
h1 {
text-align: center;
color: #000000;
margin: 0 auto 20px;
}

img {
display: block;
margin: 0 auto 20px;
width: 70%;
height: auto;
border: 4px ridge black;
border-radius: 10px;            
}

label {
display: block;
margin: 10px 0 5px;
}

input[type="text"], input[type="number"], input[type="date"], textarea, select {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
background: #ffffff;
color: #000;
}

.input-container {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 10px;
}

button {
width: 100%;
padding: 10px;
background-color: #020748;
color: rgb(255, 255, 255);
border: none;
border-radius: 4px;
cursor: pointer;
margin-top: 20px;
}

footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    position: relative;
    bottom: 0;
    width: 100%;
    
}

